.image {
  width: 200px; /* Width of each image */
  height: 100px; /* Height of each image */
  position: absolute;
  transition: all 1s ease;
}

/* Position each image with a 2px gap */
#image1 {
  left: 0px;
}
#image2 {
  left: 202px;
} /* 200px width + 2px gap */
#image3 {
  left: 404px;
}
#image4 {
  left: 606px;
}
#image5 {
  left: 650px;
}
#image6 {
  left: 730px;
}
#image7 {
  left: 780px;
}

.coverImage {
  position: absolute;
  left: 900px; /* Position of the cover image */
  z-index: 3; /* Keep the cover image on top */
}

.animate {
  animation: moveToCover 1s forwards;
}

@keyframes moveToCover {
  to {
    left: 900px;
  } /* Animate images to the left position of the cover image */
}

@media (max-width: 500px) {
  .coverImage {
    left: 80px;
    top: 410px;
  }

  /* Position each image with a 2px gap */
  #image1 {
    top: 410px;

    left: 0px;
  }
  #image2 {
    top: 410px;

    left: 5px;
  } /* 200px width + 2px gap */
  #image3 {
    top: 410px;

    left: 10px;
  }
  #image4 {
    top: 410px;

    left: 25px;
  }
  #image5 {
    top: 410px;

    left: 40px;
  }
  #image6 {
    top: 410px;

    left: 50px;
  }
  #image7 {
    top: 410px;

    left: 60px;
  }

  @keyframes moveToCover {
    to {
      left: 80px;
    } /* Animate images to the left position of the cover image */
  }
}

@media (min-width: 501px) and (max-width: 834px) {
  .coverImage {
    left: 280px;
    top: 450px;
  }

  /* Position each image with a 2px gap */
  #image1 {
    top: 450px;

    left: 0px;
  }
  #image2 {
    top: 450px;

    left: 30px;
  } /* 200px width + 2px gap */
  #image3 {
    top: 450px;

    left: 45px;
  }
  #image4 {
    top: 450px;

    left: 50px;
  }
  #image5 {
    top: 450px;

    left: 70px;
  }
  #image6 {
    top: 450px;

    left: 80px;
  }
  #image7 {
    top: 450px;

    left: 80px;
  }

  @keyframes moveToCover {
    to {
      left: 280px;
    } /* Animate images to the left position of the cover image */
  }
}


@media (min-width: 900px) and (max-width: 1025px) {
  .coverImage {
    left: 750px;
    top: 205px;
  }

  /* Position each image with a 2px gap */
  #image1 {
    top: 205px;

    left: 0px;
  }
  #image2 {
    top: 205px;

    left: 100px;
  } /* 200px width + 2px gap */
  #image3 {
    top: 205px;

    left: 260px;
  }
  #image4 {
    top: 205px;

    left: 320px;
  }
  #image5 {
    top: 205px;

    left: 570px;
  }
  #image6 {
    top: 205px;

    left: 600px;
  }
  #image7 {
    top: 205px;

    left: 730px;
  }

  @keyframes moveToCover {
    to {
      left: 750px;
    } /* Animate images to the left position of the cover image */
  }
}
